
header { display: flex; justify-content: center; align-items: center; }
main { text-align: center; }
footer { display: flex; justify-content: center; align-items: center; }

h1{
    font-weight: bold;
}

span{
    color: gold;
    border: 1px solid gold;
    padding: 10px;
}


body{
    background-color:rgb(6, 65, 85);
    color: white;
}


button { background-color: #003366;}  a {color: #FFCCFF; }

